* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: 
    linear-gradient(rgba(30, 60, 114, 0.75), rgba(42, 82, 152, 0.85)),
    url("https://image-static.collegedunia.com/public/college_data/images/campusimage/1741851310Academic-Block-Entire-View-2-1024x683.jpg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* TOP TEXT */
.top-text {
  text-align: center;
  margin-bottom: 20px;
}

.top-text h1 {
  font-size: 60px;
  font-family: "Times New Roman", serif;
  color: black;
}

.top-text p {
  font-size: 28px;
  font-family: cursive;
  color: black;
}

/* FORM BOX */
.container {
  width: 500px;
  padding: 25px;

  background: rgba(255,255,255,0.2);
  backdrop-filter: blur(12px);

  border-radius: 20px;
  border: 2px solid rgba(255,255,255,0.4);

  box-shadow: 0 0 30px rgba(0,0,0,0.3);
}

/* TITLE */
.gradient-text {
  text-align: center;
  font-size: 26px;

  background: linear-gradient(90deg, #36f8f8, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sub-text {
  text-align: center;
  margin-bottom: 10px;
  color: black;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-bottom: 10px;
}

/* INPUT */
input {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid rgba(255,255,255,0.5);
  background: rgba(255,255,255,0.3);
  transition: 0.3s;
}

/* HOVER */
input:hover {
  transform: translateY(-2px);
  box-shadow: 0 0 10px rgba(0,0,255,0.3);
}

/* FOCUS */
input:focus {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(0,0,255,0.5);
  outline: none;
}

/* ERROR TEXT */
.error {
  color: red;
  font-size: 12px;
  margin-top: 3px;
  display: block;
}

/* PASSWORD BOX */
.pass-box {
  position: relative;
}

.pass-box input {
  padding-right: 35px;
}

.eye {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

/* GENDER */
.gender {
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
}

.gender label {
  background: rgba(255,255,255,0.3);
  padding: 8px 12px;
  border-radius: 10px;
  cursor: pointer;
}

/* BUTTON */
button {
  width: 100%;
  padding: 12px;
  background: #4b6cff;
  color: white;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #2f4cff;
}